.movieRecord {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 1 37rem;
  height: 55rem;
  margin-bottom: 3.7rem;
  background-color: blue;
  background-size: cover;
  cursor: pointer;
  section {
    margin-left: 3rem;
    margin-bottom: 3rem;
    color: var(--text-color-1);
    h1 {
      font-family: "GalanoGrotesqueBold";
      font-size: 2.4rem;
    }
    p {
      margin-top: 1rem;
      font-family: "NewzaldBold";
      font-size: 1.6rem;
    }
  }
}
